*,
body,
html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

* {
  font-family: 'Lobster', cursive;
}

button {
  font-size: 32px !important;
}

body {
  background-image: url("./images/starwars1.jpg");
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.container {
  max-width: 100%;
  display:inline-flexbox;
  justify-content: space-between;
}

.childContainer {
  margin: auto;
  width: 80%;
}

.accord {
  background-color: rgba(127, 127, 134, 0.7);
  color: rgb(203, 170, 102);
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border-radius: 15px;
  border: 1px wheat solid;
  text-align: left;
  outline: none;
  font-size: 18px;
  transition: 0.5s;
  margin-bottom: 10px;
  text-shadow: 3px 2px #000;
}

.active,
.accord:hover {
  background-color: rgb(70, 67, 67);
}

.info {
  padding: 20px;
  background-color: rgba(4, 9, 13, 0.7);
  overflow: hidden;
  color:rgb(203, 170, 102)
  
}

.display{
  display: none;
}


.info p {
  font-size: 32px;
 
}

.title {
  margin: 2rem;
  text-align: center;
  color: rgb(203, 170, 102);
  text-shadow: 2px 2px #000;
  font-size: 38px;
}

.img {
  border-radius: 40px;
  margin-top: 10px;
  width: 20%;
}

.footer{
  text-align: center;
  margin: 2rem;
  color:wheat;
}

.loader {
  align-self: center;
  margin-left: 40rem;
  border: 16px solid #f3f3f3;
  border-top: 16px solid #010508;
  border-radius: 50%;
  width: 120px;
  height: 120px;
  animation: spin 4s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}




@media only screen and (max-width: 600px) {
  .panel p {
      font-size: 16px;
  }
  .panel{
    margin-bottom: 3px;

  }

  button {
    font-size: 16px !important;

  }

  .childContainer {
    margin: auto;
    width: 88%;
  }

  .title {
    text-align: center;
    color: #fff;
    text-shadow: 2px 2px #000;
    font-size: 18px;
    margin: 1rem;
  }

  .img {
    border-radius: 20px;
    display: inline-block;
    margin-top: 10px;
    max-width: 50%;
  }
}